<div class="wrapper">
  <div class="container">
    <mat-card>
      <h1>Sign In</h1>

      <form [formGroup]="signinForm" (ngSubmit)="onSubmit()" class="form">
        <mat-form-field appearance="fill" class="form__row">
          <mat-label>Email</mat-label>
          <input matInput
                 formControlName="email"
                 placeholder="Ex. email@example.com"/>
          <mat-hint>Sign in using email address</mat-hint>
          <mat-error *ngIf="signinForm.controls.email.hasError('email') && !signinForm.controls.email.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="signinForm.controls.email.hasError('required')">
            Email address is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form__row">
          <mat-label>Password</mat-label>
          <input matInput
                 formControlName="password"
                 [type]="hidePassword ? 'password' : 'text'"/>
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>

          <mat-hint>Please enter a password</mat-hint>

          <mat-error *ngIf="signinForm.controls.password.hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>

        <div class="form__space-between">
          <mat-checkbox matInput formControlName="remember">Remember me</mat-checkbox>
          <button mat-flat-button color="primary" [disabled]="!signinForm.valid">Sign In</button>
        </div>

        <p *ngIf="this.signinForm.value.remember">Lorem ipsum dolor sit amet consectetuer</p>
      </form>
    </mat-card>
  </div>
</div>

