<div class="wrapper">
  <div class="container">
    <mat-card>
      <h1>Sign In</h1>

      <form [formGroup]="signingForm" (ngSubmit)="onSubmit()" class="form">
        <mat-form-field appearance="fill" class="form__row">
          <mat-label>Email</mat-label>
          <input matInput
                 formControlName="email"
                 placeholder="Ex. email@example.com"
                 data-test="login-email-input"/>
          <mat-hint>Sign in using email address</mat-hint>
          <mat-error *ngIf="signingForm.controls.email.hasError('email') && !signingForm.controls.email.hasError('required')" data-test="login-email-error">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="signingForm.controls.email.hasError('required')" data-test="login-email-error">
            Email address is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form__row">
          <mat-label>Password</mat-label>
          <input matInput
                 formControlName="password"
                 [type]="hidePassword ? 'password' : 'text'"
                 data-test="login-password-input"/>
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>

          <mat-hint>Please enter a password</mat-hint>

          <mat-error *ngIf="signingForm.controls.password.hasError('required')" data-test="login-password-error">
            Password is required
          </mat-error>
        </mat-form-field>

        <div class="form__space-between">
          <mat-checkbox matInput formControlName="remember" data-test="login-remember-checkbox">Remember me</mat-checkbox>
          <button mat-flat-button color="primary" [disabled]="!signingForm.valid" data-test="login-sing-in-button">Sign In</button>
        </div>

        <p *ngIf="this.signingForm.value.remember" data-test="login-remember-rules">Lorem ipsum dolor sit amet consectetuer</p>
      </form>
    </mat-card>
  </div>
</div>

